<!DOCTYPE html>
<html ng-app="TareaApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Task Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="~/wwwroot/app/app.js"></script>
    <script src="~/wwwroot/app/controllers/tareasController.js"></script>
    <script src="~/wwwroot/app/services/tareasService.js"></script>
    <link href="~/wwwroot/CSS/tarea.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Gestión de Tareas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://code.jquery.com/jquery-3.5.1.slim.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    @Scripts.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>
